# Dependencias y builds
node_modules
.next
out
build
dist
bin
obj

# Archivos de configuración de paquetes
pnpm-lock.yaml
package-lock.json
yarn.lock

# Variables de entorno (Seguridad)
.env*

# Archivos estáticos
public
*.ico
*.png
*.jpg
*.svg

# Tipos generados (Mejor no tocarlos para evitar errores de Cursor)
src/types/database.types.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*